@model IEnumerable<EPI_USE.Models.Employee>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="text-center">All Employees</h1>

<p class="text-center">
    <a asp-action="CreateEmployee" class="btn btn-primary">Create new Employee</a>
</p>

<form asp-action="AllEmployees" method="get">
    <div class="form-actions no-color">
        <p>
            Filter By: <input type="text" name="SearchString" value="@ViewData["CurrentFilter"]" />
            <input type="submit" value="Search" class="btn btn-default" /> |
            <a asp-action="AllEmployees">Back to Full List</a>
        </p>
    </div>
</form>

@*For the display of all employees*@

<table class="table table-hover">
    <thead>
        <tr>
            <th>Gravatar</th>
            <th>Employee Number</th>
            <th>Name</th>
            <th>Surname</th>
            <th>Email Address</th>
            <th>Birth Date</th>
            <th>Salary</th>
            <th>Position</th>
            <th>Reporting Line Manager</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var employee in Model)
        {
            <tr>
                <td>@Html.GravatarImage(
                         employee.EmailAddress,
                         size: 60,
                         defaultImage: GravatarHtmlHelper.DefaultImage.Retro,
                         rating: GravatarHtmlHelper.Rating.G,
                        cssClass: "gravatar img-responsive")</td>
                <td>@Html.DisplayFor(modelItem => employee.EmployeeNumber)</td>
                <td>@Html.DisplayFor(modelItem => employee.Name)</td>
                <td>@Html.DisplayFor(modelItem => employee.Surname)</td>
                <td>@Html.DisplayFor(modelItem => employee.EmailAddress)</td>
                <td>@Html.DisplayFor(modelItem => employee.BirthDate)</td>
                <td>@Html.DisplayFor(modelItem => employee.Salary)</td>
                <td>@Html.DisplayFor(modelItem => employee.Position)</td>
                <td>@Html.DisplayFor(modelItem => employee.ReportingLineManager)</td>

                <td>
                    <a asp-action="Details" asp-route-id="@employee.EmployeeNumber" class="btn btn-primary">Details</a>
                    <a asp-action="Delete" asp-route-id="@employee.EmployeeNumber" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
