@model EPI_USE.Models.Employee
@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2 class="text-center">Delete Employee</h2>
            <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-4">

                    <ul class="text-center" style="position:center">
                        <li><label style="font-weight: bold">Employee Number: </label> @Html.DisplayFor(model => model.EmployeeNumber)</li>
                        <li><label style="font-weight: bold">Name: </label>  @Html.DisplayFor(model => model.Name)</li>
                        <li><label style="font-weight: bold">Surname: </label>  @Html.DisplayFor(model => model.Surname)</li>
                        <li><label style="font-weight: bold">Email Address: </label>  @Html.DisplayFor(model => model.EmailAddress)</li>
                        <li><label style="font-weight: bold">Birth Date: </label>  @Html.DisplayFor(model => model.BirthDate)</li>
                        <li><label style="font-weight: bold">Salary: R</label>  @Html.DisplayFor(model => model.Salary)</li>
                        <li><label style="font-weight: bold">Position: </label>  @Html.DisplayFor(model => model.Position)</li>
                        <li><label style="font-weight: bold">Manager: </label>  @Html.DisplayFor(model => model.ReportingLineManager)</li>
                    </ul>

                    <form asp-action="Delete">
                        <input type="hidden" asp-for="EmployeeNumber"/>

                        <div>
                            <input type="submit" value="Delete" class="btn btn-danger" />
                            <a asp-action="AllEmployees" class="btn btn-warning">Cancel</a>
                        </div>
                    </form>

                </div>
                <div class="col-md-4"></div>
            </div>
        </div>
    </div>
</div>
