@model IEnumerable<EPI_USE.Models.Manager>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="text-center">All Managers</h1>

<p class="text-center">
    <a asp-action="CreateManager" class="btn btn-primary">Create new Manager</a>
</p>

@*For the display of all managers*@

<table class="table table-hover">
    <thead>
        <tr>
            <th>Gravatar</th>
            <th>Manager Number</th>
            <th>Name</th>
            <th>Surname</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var manager in Model)
        {
            <tr>
                <td>@Html.GravatarImage(
                        "user.name@email.com",
                         size: 60,
                         defaultImage: GravatarHtmlHelper.DefaultImage.Retro,
                         rating: GravatarHtmlHelper.Rating.G,
                        cssClass: "gravatar img-responsive")</td>
                <td>@Html.DisplayFor(modelItem => manager.ManagerNumber)</td>
                <td>@Html.DisplayFor(modelItem => manager.Name)</td>
                <td>@Html.DisplayFor(modelItem => manager.Surname)</td>

                <td>
                    <a asp-action="Details" asp-route-id="@manager.ManagerNumber" class="btn btn-primary">Details</a>
                    <a asp-action="Delete" asp-route-id="@manager.ManagerNumber" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
